@page "/"
@using AzureVMMonitor.App.Services
@using AzureVMMonitor.App.Models

@inject IAzVmService AzVmService

<PageTitle>Index</PageTitle>

<h1>Virtual Machines</h1>

@foreach (var vm in _vmStatus)
{
    <p>@(_count++) @vm.ResourceGroup @vm.VirtualMachine @vm.PowerState</p>
}

@code {

    private IEnumerable<VmStatus>? _vmStatus;
    private int _count = 1;
    
    protected override async Task OnInitializedAsync()
    {
        _vmStatus = await AzVmService.FetchStatus();
        await base.OnInitializedAsync();
    }

}